body{
	margin: 0;
	background-color: #111827;
	color: white;
	font-family: 'DM Sans', sans-serif;
}
.container{
	display: flex;
}
.side-bar{
	position: fixed; /**/
	width: 319px;
	height: 100vh;
	background-color: #1f2937;
	border-right: 1px solid #374151;
	border-left: 0px;
}
.at{
	height: 63px;
	width: 319px;
	position: relative;
}
.at:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(55, 65, 81, 1) 0%, rgba(231, 178, 40, 1) 50%, rgba(55, 65, 81, 1) 100%);
}
header > h1{
	font-size: 20px;
	margin: 0;
	padding-top: 18px;
	padding-right: 24px;
	padding-left: 24px;
}
header{
	position: fixed;/**/
	height: 63px;
	background-color: #1f2937;
	width: 100%;
	border-bottom: 1px solid #374151;
	max-width: -webkit-fill-available;
	max-width: -moz-available;
}
.content{
	padding-left: 320px;/**/
	width: 100%;
	max-width: -webkit-fill-available;
	max-width: -moz-available;
}
ul{
	margin-left: -22px;
}
li{
	list-style: none;
}
.btn{	
	width: 283px;
	height: 36px; 
	border-radius: 10px;
	background-color: #1f2937;
	border: 0px solid;
	color: #d1d5db;
	text-align: start;
	margin-bottom: 4px;
	cursor: pointer;
	font-weight: 600;
	padding-left: 9px;
	width: 274px;
}
a > div{
    display: inline-flex;
    align-items: center;
    margin: auto 0;
}
li > button{
	display: flex;
}
.svg-config-vid{

	margin-left: 60px!important;
	align-self: center;
}
ul{
   font-size: .875rem;
   line-height: 1.25rem;
}
.btn:hover{
	background-color: rgb(55 65 81);
}
.active{
	background-color: #f59e0b;
	color: white;
}
.active:hover{
	background-color: #f59e0b;
}
button > div {
	display: inline-flex;
    align-items: self-end;
    margin: auto 0;
}
.content-in-button{
	width: 20px;
	height: 20px;
	padding-right: 10px;
}
hr{
	border-color: #374151;
	margin-top: 15px;
}
nav{
	padding-top: 7px;
	padding-bottom: 24px;
}
.svg-config-vid{
	height: 11px;
	margin-left: 65px;
}
.rot{
	transform: rotate(180deg);
}
.ul-config-video{
	padding-left: 23px;
	height: 0px;
	overflow: hidden;transition: height 0.3s ease-in-out;
}
.ul-config-video-act{
	padding-left: 23px;
	overflow: hidden;
    height: 115px;
    transition: height 0.3s ease-in-out;
}
main{
	margin-top: 2.5rem;
	padding: 32px;
}
main > h1 {
	font-size: 23px;
	line-height: 18px;
}
main > div{
	width: 560px;
	height: 80px;
	background-color: #1f2937;
	border-radius: 15px;
}
.card-perfil{
	padding: 22px;
	display: flex;
}
.photo{
	width: 40px;
    height: 40px;
    border-radius: 69px;
}
div.photo > span{
	align-self: center;
}
.btn-logout{
	display: flex;
	flex-direction: column;
	padding-left: 10px;
    width: unset;
    height: unset;
    border-radius: unset;
    background-color: unset;
    border: unset;
    color: #D1D5DB;
    text-align: unset;
    margin-bottom: unset;
    cursor: pointer;
    font-weight: unset;
    text-decoration: none;
    font-size: 12px;
}
.btn-logout:hover{
	color: #f59e0b;
	background-color: unset;
}
header > div {
	padding: 12px;
    padding-right: 32px;
    text-align: -webkit-right;
    text-align: -moz-right;
}
header > div:hover{
	cursor: pointer;
}

/* ScrollBar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #424242; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
