.container-main{
	width: 100%;
	height: 100%;
}
.title-main{
	display: flex;
	width: unset!important;
	height: unset!important;
	background-color: unset!important;
	height: 36px!important;
	justify-content: space-between;
	padding: 16px 0px;
}
.title-main > h1{
	margin: 0;
	color: #F3F4F6;
	font-size: 1.5rem;
}
.newVideo{
	margin-left: auto;
	color: white;
	text-align: center;
	width: 105px;
	height: 36px;
	background-color: #d97706;
	border-radius: 10px;
	cursor: pointer;
	border: 0;
	display: flex;
	justify-content: center;
}
.newVideo:hover{
	background-color: #f59e0b;
}
a{
	text-decoration: none;
}
/* NewVideo page */
h2{
	font-size: 1.25rem;
	background-color: #111827;
	padding: 16px 8px;
	margin: 0;
}
form{
	margin-top: 1.5rem;
}
.content-video{
	overflow: auto;
	border: 1px solid #4b5563;
	border-radius: 0.75rem;	
	background-color: #1f2937;
}
main > div{
	background-color: unset;
}
.group-input{
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}
.container-form{
	padding: 24px;
	color: #d1d5db;
	font-size: .875rem;
}
label + input{
	margin-top: 8px;
}
input{
	height: 22px;
	background-color: #374151;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 8px;
	font-size: 1rem;
	color: white
}
input:focus{
	outline: 2px solid #f59e0b;	
}
.group-textarea{
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}
label + textarea{
	margin-top: 8px;
}
textarea{
	background-color: #374151;
	border: 1px solid transparent;
	border-radius: 5px;
	line-height: 1.5rem;
    padding: 0.5rem 0.75rem;
	font-size: 1rem;
	color: white
}
textarea:focus{
	outline: 2px solid #f59e0b;
}
.n{
	display: inline-flex;
}
.n > input{
	width: 517px;
}

label + select,search{
	margin-top: 8px;
}
select,search,.div-op-genre{
	height: 39.6px;
	background-color: #374151;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 8px;
	font-size: 1rem;
	color: white
}
search:focus{
	outline: 2px solid #f59e0b;	
}
select:focus{
	outline: 2px solid #f59e0b;	
}
.select{
	width: 534.6px;
}
.select-choise-list{
	margin-top: 75px;
	background-color: #374151;
	color: white;
	border-radius: 5px;
    position: absolute;
    z-index: 1;
}
.classinput-search{
	width: 534.6px!important;
	height: 39.6px;
}
.choise-list{
	position: relative;
	height: 0px;
	overflow: hidden;
}
.not-hidden{
	height: unset;
	overflow: unset;
}
.choise-option{
	display: flex;
	width: 524.6px!important;
	height: 39.6px;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    padding-left: 10px;
}
.choise-option:hover{
	background-color: #d97706;
	color: white;
}

/*Inputs with select*/
.only-input-search{
	width: 534.6px!important;
	margin-top: 8px;
	height: 39.6px;
}
.choicesList{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.chosen{
	display: flex;
	margin-right: 5px;
	height: 25px;
	background-color: #4a4a4a;
	color: #f59e0b;
	text-align: center;
	border-radius: 5px;
	align-items: center;
}
.btn-remove{
	width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    background-size: 0.6em 0.6em;
    background-position: center;
    background-repeat: no-repeat, repeat;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJtMi41OTIuMDQ0IDE4LjM2NCAxOC4zNjQtMi41NDggMi41NDhMLjA0NCAyLjU5MnoiLz48cGF0aCBkPSJNMCAxOC4zNjQgMTguMzY0IDBsMi41NDggMi41NDhMMi41NDggMjAuOTEyeiIvPjwvZz48L3N2Zz4=);
}
.btn-remove:hover{
	cursor: pointer;
}
.div-op-genre{
	width: 524px!important;
	height: 38px!important;
	padding-left: 9px;
    padding-bottom: unset;
    padding-top: unset;
    padding-right: unset;
    display: flex;
    color: #656c7a;
    text-align: center;
    align-items: center;
}	
.tbt{
	display: table;
}
.div-op-genre:hover{
	cursor: pointer;
}
.borderFieldSpecial{
	outline: 2px solid #f59e0b;	
}
.content-img, .content-vid{
	background-color: transparent;
	margin-top: 22px;
}

input[type="file"] {
    display: none;
}
.inputFileTitle{
	font-size: 0.85rem;
	margin-bottom: 0;
	color: #d1d5db;
}
.inputFile {
	color: #d1d5db;
    text-align: center;
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 38px;
    border-radius: 5px;
    background-color: #374151;
}
.divInputFile{
	margin-bottom: 20px;
}
fieldset{
    border-radius: 0.75rem;
    border: 1px solid #4b5563;
}
legend{
	color: #d1d5db;
}
.btn-vid{
	width: auto;
	background-color: #1f2937;
	color: white;
	border: 1px solid #4b5563;
	border-radius: 5px;
	height: 36px;
	padding: 4px 16px;
	display: flex;
	align-items: center;
}
.btn-vid:hover{
	border: 1px solid #d97706;
	cursor: pointer;
	background-color: #374151;
}

.btn-primary{
	background-color: #d97706!important;
}
.btn-primary:hover{
	background-color: #f59e0b;
}
.btn-list{
	display: flex;
    margin: 15px 0px 0px 5px;
    gap: 1rem;
}
.inputFileBanner{display: block;}
.inputImgFile{
	height: 256px;
	margin: 0 auto;
}
.inputMediaHeight{
	height: 256px;
}